* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #ffffff;
}

/*----------------*/

input {
    width: 100%;
}

ul li {
    cursor: pointer;
}

ul li:hover {
    color: grey;
}

p {
    margin-bottom: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* PHONE Layout */
#phone {
    height: 700px;
    width: 360px;
    border: 1rem solid black;
    border-radius: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000000;
    background-color: white;
}

/* Status Bar */
.status-bar {
    height: 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-bar .bar {
    height: 20px;
    background-color: black;
    border-radius: 3rem;
}

.status-bar .details,
.status-bar .time {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
}

.fa-solid {
    font-size: 0.8rem;
}

/* Content */
.content {
    height: 95%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.content-header {
    padding: 1.5rem;
}

.content-main {
    height: 70%;
    overflow: auto;

    border-radius: 1rem;
    background-color: #ffffff;

}

.content-footer {
    height: 13.8%;

    overflow: auto;
    border-radius: 1rem 1rem 2.2rem 2.2rem;
}

/* To do Card */
.content-card {
    min-height: 200px;
    padding: 1.5rem;
    border-radius: 1rem;
}

.to-do-items {
    background-color: #ffffff;
    color: #000000;
}

.done-items {
    background-color: #ffffff;
    color: #000000;
}

.content-card .item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.to-do-items .item {
    border-radius: 1rem;
    background-color: #cfcfcf;
    color: black;

}

.done-items .item {
    border-radius: 1rem;
    background-color: #008000;
    color: white;

}



.check,
.remove,
.edit,
.save {
    cursor: pointer;
}

.check:hover {
    color: #008000;
}

.remove:hover {
    color: #ff0000;
}

.edit:hover {
    color: #ffdd00;
}

.save:hover {
    color: #FFFFFF;
}

/* Input-edit */
.input-edit {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

/* Input card */
.input-card {
    height: 100%;
    padding: 1rem;
    /* background-color: rgb(215, 215, 215); */
    z-index: 1;
    border-radius: 1rem;
}

.input-card input {
    width: 90%;
    height: 100%;
    padding-left: 0.5rem;
    border: none;
    background-color: #ffffff00;
}

.input-card button {
    background-color: #00000000;
    border: none;
}